@tailwind base;
@tailwind components;
@tailwind utilities;

/* Manrope Font */
@font-face {
  font-family: "Manrope-Bold";
  src: url("./assets/manropeFont/Manrope-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("./assets/manropeFont/Manrope-ExtraBold.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-ExtraLight";
  src: url("./assets/manropeFont/Manrope-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-Light";
  src: url("./assets/manropeFont/Manrope-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("./assets/manropeFont/Manrope-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("./assets/manropeFont/Manrope-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Manrope-SemiBold";
  src: url("./assets/manropeFont/Manrope-SemiBold.ttf") format("opentype");
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}
